/*
* Custom Additions to the Skeleton CSS for the Baugarten Website
* By Henry van Wagenberg, 2016-17
* http://www.baugarten.io
*/

#hero {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url('../images/humboldt_background.jpg');
  
}

@media (max-width: 550px) {
  #hero{
    background-image: url('../images/humboldt_background_mobile.jpg');
  }
}

#hero-h1 {
  font-size: 5.75rem;
  color: white;
  letter-spacing: -.2rem;
  margin-bottom: 0.75rem;
  padding-top: 10%;
  padding-bottom: 10%;
  padding-left: 10%;
  padding-right: 10%;
  background-color: rgb(225,66,44);
}

#hero-h5 {
  color: white;
  margin-bottom: 0.75rem;
  letter-spacing: .075rem;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 2%;
  padding-right: 2%;
  background-color: rgb(225,66,44);
}
