/*
* Custom Additions to the Skeleton CSS for the Baugarten Website
* By Henry van Wagenberg, 2016-17
* http://www.baugarten.io
*/

#hero {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url('../images/humboldt_background.jpg');
}
