/*
* Custom Additions to the Skeleton CSS for the Baugarten Website
* By Henry van Wagenberg, 2016-17
* http://www.baugarten.io
*/
body {
  background-color: rgb(225,66,44);
}

#hero {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center fixed;
  background-image: url('../images/humboldt_background_compressed.jpg');
  min-height: 100vh;
}

@media (max-width: 768px) {
  #hero{
    background-attachment: fixed;
    background-image: url('../images/humboldt_background_mobile.jpg');
    background-size: 140%;
  }
}

#hero-title {
}

#hero-h1 {
  font-size: 5.25rem;
  font-weight: 700;
  color: white;
  letter-spacing: -.2rem;
  margin-bottom: 0.75rem;
}

#hero-h1 span {
  display: inline-block;
  padding-top: 12.5%;
  padding-bottom: 12.5%;
  padding-left: 25%;
  padding-right: 25%;
  background-color: rgb(225,66,44);
}

@media (max-width: 768px) {
  #hero-title h1 {
    text-align: center;
    font-size: 4.5rem;
    padding-bottom: 2.5%;
  }

  #hero-h1 h1 {
    display: inline-block;
  }

  #hero-h1 span {
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 10%;
    padding-right: 10%;
  }
}

#hero-h5 {
  color: white;
  margin-bottom: 0.75rem;
  letter-spacing: .075rem;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 2%;
  padding-right: 2%;
  background-color: rgb(225,66,44);
  text-align: center;
}

#button-contact-baugarten {
  text-align: center;
}

#button-contact-baugarten a {
  color: white;
  background-color: rgb(225,66,44);
  display: inline-block;
  font-size: 14px;
  height: 78px;
  line-height: 78px;
}

@media (max-width: 768px) {
  #button-contact-baugarten a {
    font-size: 24px;
    height: 68px;
    line-height: 68px;
    margin-bottom: 80%;
  }
}

#mobile-button-baugarten-people {
  text-align: center;
  display: none;
}

#mobile-button-baugarten-people a {
  color: white;
  margin-top: 10%;
  background-color: rgb(225,66,44);
  font-size: 24px;
  height: 68px;
  line-height: 68px;
  display: none;
}

@media (max-width: 580px) {
  #mobile-button-baugarten-people {
    display: inline-block;
  }
  #mobile-button-baugarten-people a {
    display: inline-block;
  }
}

#baugarten-team-image {
  width: 70%;
  background-color: rgb(225,66,44);
  border: 7px solid;
  border-color: rgb(225,66,44);
  box-sizing: border-box;
  border-radius: 100%;
}

#baugarten-team {
  text-align: center;
}

#baugarten-team ul li {
  list-style: none;
}

#baugarten-team h6 {
  margin-bottom: -0.3rem;
  font-size: 12px;
  background-color: rgb(225,66,44);
  color: white;
}

#baugarten-team a {
  display: inline-block;
  font-size: 12px;
  background-color: rgb(225,66,44);
  color: white;
  padding-bottom: 5%;
}

@media (max-width: 768px) {
  #baugarten-team {
    padding-top: 5%;
    background-color: rgb(225,66,44);
    padding-bottom: 25%;
  }
}

#baugarten-bold {
  font-weight: bold;
}

#contact-baugarten {
  background-color: rgb(225,66,44);
  color: white;
  margin-bottom: -3%
}

#contact-baugarten ul li {
  list-style: none;
}

#contact-baugarten p,h4,h5,h6 {
  margin-bottom: -0.1rem;
}

#contact-baugarten-images {
  width: 87.5%;
}

footer h6 {
  font-size: 62.5%;
  font-size: 1.5em; /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.6;
  font-weight: 400;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: white;
  margin-top: 0;
  font-weight: 300;
  font-size: 1.5rem;
  padding-top: 5%;
  padding-bottom: 1%;
  background-color: rgb(225,66,44);
  text-align: center;
}

